.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .75em;
}

.separator:not(:empty)::after {
  margin-left: .75em;
}

.main {
  background-color: white;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #29008a;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}